<%= image_tag @profile_item.main_image %>

<h1><%= @profile_item.title %></h1>

<em><%= @profile_item.subtitle %></em>

<p><%= @profile_item.body %></p>

<h2>Technologies Used:</h2>

<% @profile_item.technologies.each do |tech| %>

    <p><%= tech.name %></p>

<% end %>

<!-- <hr>

<%= params.inspect %>

<hr>

<%= session.inspect %> -->
